#content > .row {
  margin: 20px 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}
#content > .row > div {
  flex: 1;
  margin: 10px;
  border: 1px solid #e6e6e6;
  text-align: center;
  height: 160px;
}
#content > .row > div > a {
  display: block;
  text-decoration: none;
  color: #080808;
}
#content > .row > div > a > img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
#content > .row > div > a > .text {
  margin: 10px 0;
}
